.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bebas neue;
    letter-spacing: 2px;
    font-style: normal;
}

h1{
    font-family: Bebas Neue;
    letter-spacing: 2px;
}

body{
    background-color: #262625;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

header {
    display: flex;
    background-color: #832b30;
    width: 100vw;
    height: 15vh;
    padding: 20px;
    justify-content: flex-start;
    gap: 10px;
    border: solid #4d4d4d 2px;
}

header h1{
    align-self: center;
    font-size: 9vmin;
    height: auto;
    width: auto;
    color: #cacaca;
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: #4d4d4d;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#logocabecalho {
    width: auto;
    height: auto;
}

#fichas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    width: 100vw;
    height: auto;
    
}

.trocaficha{
    width: 10rem;
    height: 3rem;

    font-size: 1.5rem;
    font-family: Bebas Neue;
    letter-spacing: 1px;
    color:#cacaca;
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: #4d4d4d;
    transition: all 0.2s ease;

    background-color: #832b30;
    border-radius: 5px;
    border: #4d4d4d solid 1px;
    cursor: pointer;
}

.trocaficha:hover{
    transform: scale(1.1);

}

.trocaficha:active{
    transform: scale(1);
}

#addexercicio{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: auto;
    gap: 0;
}

#btnadd{
    height: 2.5rem;
    width: 15rem;

    font-size: 1.5rem;
    font-family: Bebas Neue;
    letter-spacing: 1px;
    color:#cacaca;
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: #4d4d4d;
    transition: all 0.15s ease;

    background-color: #832b30;
    border-radius: 5px;
    border: #4d4d4d solid 1px;
    cursor: pointer;
}
#btnadd:hover{
    transform: scale(1.1);

}
#btnadd:active{
    transform: scale(1);
}

#containernovoexercicio{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: all 0.2s ease;
}

#fundopreto{
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #000000ad;
}

#novoexercicio{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 70vh;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    background-color:#262625;
    align-items: center;
    color: #cacaca;
    font-family: bebas neue;
    text-align: center;
    border-radius: 10px;
}

#novoexercicio input{
    font-size: 3vmin;
}

input{
    height: 3vmin;
}

#novoexercicio label{
    display: flex;
    gap: 5px;
    font-size: 3vmin;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.oculto{
    display: none !important;
}

#tituloNE{
    background-color: #832b30;
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#nrep{
    width: 30%;
}

#kg{
    width: 15%;
}

#fecharNE{
    background-color: #832b30;
    color: #cacaca;
    width: 50%;
    height: 7%;
    border: #4d4d4d solid 1px;
    font-family: bebas neue;
    font-size: 3vmin;
    margin-top: auto;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#fecharNE:hover{
    transform: scale(1.1);
}

#fecharNE:active{
    transform: scale(1);
}

#fotoInput{
    display: none;
}

label[for="fotoInput"]:hover{
    transform: scale(1.1);
}

label[for="fotoInput"]:active{
    transform: scale(1);
}

label[for="fotoInput"]{
    background-color: #832b30;
    transition: all 0.2s ease;
}

#previewimgdiv{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
}

#previewimg{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#botaoapagarfoto{
    position: absolute;
    top: -4%;
    right: -5%;
    background-color:#832b30;
    width: 25%;
    aspect-ratio: 1/1;
    object-fit: cover;
    z-index: 10;
    border: 1px solid #cacaca;
}

#apagarfoto{
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
    z-index: 10;
}

#listaexercicios{
    width: 100%;
    height: auto;

    display: flex;
    gap: 40px;
    padding: 0 40px;
}

.exercicio{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    aspect-ratio: 1/1;
    width: auto;
    grid-template-rows: repeat(3, 1fr);
    background-color:#4d4d4d;
    border:#cacaca 2px solid;
}

.imgEx{
    grid-row: 1 / 3;
    grid-column: 1 / 2;

}

.nomeEx{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.RepEx{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.KgEx{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.checkboxEx{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.exercicio div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    border:#262625 1px solid;
}

.exercicio div p{
    height:100%;
    font-size: 4vmin;
    color:#cacaca;
}

.exercicio h2{
    background-color:#832b30;
    width: 100%;
    text-align: center;
    color: #cacaca;
}

.imgexercicio{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkboxEl{
    width: 50%;
}