.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    }



@media (max-width: 576px) {

    h1{
        font-family: Bebas Neue;
        letter-spacing: 2px;
    }

    body{
        background-color: #262625;
        width: 100%;
        height: 100%;
        position: relative;
    }

    #container{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
    }

    main{
        width: 100%;
    }

    header {
        display: flex;
        background-color: #832b30;
        width: 100%;
        height: auto;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: solid #4d4d4d 2px;
    }

    header h1{
        align-self: center;
        font-size: 300%;
        height: auto;
        width: auto;
        color: #cacaca;
        -webkit-text-stroke-width: 0.01rem;
        -webkit-text-stroke-color: #4d4d4d;
    }

    main{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #logocabecalho {
        width: 20%;   
        height: auto;    
        object-fit: cover;
    }

    #fichas{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13px;

        width: 100%;
        height: auto;
        
    }

    .trocaficha{
        width: 30%;
        min-width: 20px;

        height: 3rem;

        font-size: 1.5rem;
        font-family: Bebas Neue;
        letter-spacing: 1px;
        color:#cacaca;
        -webkit-text-stroke-width: 0.01rem;
        -webkit-text-stroke-color: #4d4d4d;
        transition: all 0.2s ease;

        background-color: #832b30;
        border-radius: 5px;
        border: #4d4d4d solid 1px;
        cursor: pointer;
    }

    .trocaficha:hover{
        transform: scale(1.1);

    }

    .trocaficha:active{
        transform: scale(1);
    }

    #addexercicio{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: auto;
        gap: 0;
    }

    #btnadd{
        height: 2.5rem;
        width: 80%;

        font-size: 1.3rem;
        font-family: Bebas Neue;
        letter-spacing: 1px;
        color:#cacaca;
        -webkit-text-stroke-width: 0.01rem;
        -webkit-text-stroke-color: #4d4d4d;
        transition: all 0.15s ease;

        background-color: #832b30;
        border-radius: 5px;
        border: #4d4d4d solid 1px;
        cursor: pointer;
    }
    #btnadd:hover{
        transform: scale(1.1);

    }
    #btnadd:active{
        transform: scale(1);
    }

    #containernovoexercicio{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease;
    }

    #fundopreto{
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000ad;
    }

    #novoexercicio{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 80%;
        min-height: 500px;
        flex-direction: column;
        gap: 25px;
        z-index: 2;
        background-color:#262625;
        align-items: center;
        color: #cacaca;
        font-family: bebas neue;
        text-align: center;
        border-radius: 10px;
    }

    #novoexercicio input{
        font-size: 1rem;
    }

    input{
        height: auto;
        width: 100%;
        text-align: center;
        font-family: bebas neue;
    }

    #novoexercicio label{
        display: flex;
        gap: 5px;
        font-size: 1rem;
        text-align: center;
        width: 70%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .oculto{
        display: none !important;
    }

    #tituloNE{
        background-color: #832b30;
        width: 100%;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #nrep{
        width: 50%;
    }

    #kg{
        width: 25%;
    }

    #fecharNE{
        background-color: #832b30;
        color: #cacaca;
        width: 50%;
        height: auto;
        border:#8b8b8b 0px solid;
        box-shadow: 0 0 3px rgba(210, 238, 247, 0.6);
        font-family: bebas neue;
        font-size: 1.5rem;
        margin-top: auto;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    #fecharNE:hover{
        transform: scale(1.1);
    }

    #fecharNE:active{
        transform: scale(1);
    }

    #fotoInput{
        display: none;
        font-size: 1rem;
    }

    label[for="fotoInput"]:hover{
        transform: scale(1.1);
    }

    label[for="fotoInput"]:active{
        transform: scale(1);
    }

    label[for="fotoInput"]{
        background-color: #832b30;
        transition: all 0.2s ease;
    }

    #previewimgdiv{
        display: flex;
        align-items: center;
        justify-content: center;

        height: 25%;
        aspect-ratio: 1/1;
        object-fit: cover;
        position: relative;
    }

    #previewimg{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    #botaoapagarfoto{
        position: absolute;
        top: -4%;
        right: -5%;
        background-color:#832b30;
        width: 25%;
        aspect-ratio: 1/1;
        object-fit: cover;
        z-index: 10;
        border: 1px solid #cacaca;
    }

    #apagarfoto{
        width: 80%;
        aspect-ratio: 1/1;
        object-fit: cover;
        z-index: 10;
    }

    .listaexercicios{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 40px;
    }

    .exercicio{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        position: relative;
        aspect-ratio: 1/1;
        width: auto;
        height: 60vw;
        grid-template-rows: repeat(3, 1fr);
        background-color:#4d4d4d;
        border:#8b8b8b 2px solid;
        box-shadow: 0 0 5px rgba(210, 238, 247, 0.6);
    }

    .imgEx{
        grid-row: 1 / 3;
        grid-column: 1 / 2;

    }

    .nomeEx{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .RepEx{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .KgEx{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .checkboxEx{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .exercicio div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        border:#262625 1px solid;
        gap: 4px;
    }

    .exercicio div p{
        height:100%;
        font-size: 150%;
        color:#cacaca;
        word-break: break-word;
        line-height: 90%;
    }

    .exercicio h2{
        background-color:#832b30;
        width: 100%;
        text-align: center;
        color: #cacaca;
        word-break: break-word;
    }

    .imgexercicio{
        width: 90%;
        height: 90%;
        object-fit: cover;
    }

    .checkboxEx{
        width: 100%;
        height: 100%;
        border: none !important;
        align-self: center;
        justify-self: center;
    }

    .checkboxBtn{
        width: 100%;
        height: 30%;
    }

    .editarexercicio{
        display: flex;
        position: absolute;
        left: 2px;
        top: 4px;
        gap: 2px;

        width: 35%;
        height: auto;
        
        flex-direction: row !important;
        border: none !important;
    }

    .editarexercicio button{
        width: 100%;
        height: auto;
        background-color: #832b30;
        border: 1px solid #cacaca;

        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
    }

    .editarexercicio button:hover{
        transform: scale(1.1);
    }

    .editarexercicio img{
        max-width: 80%;
        max-height: 80%;

        padding: 2px;
        object-fit: cover;
        border: none !important;
        z-index: 10;
    }

    .exercicio .editarexercicio{
        transform: scale(0);
        pointer-events: none;
        transition: 0.1s;
    }

    .exercicio:hover .editarexercicio{
        transform: scale(1);
        pointer-events: auto;
    }

    .fichaAtual{
        transform: scale(1.08);
        border:#8b8b8b 1px solid;
        box-shadow: 0 0 6px rgba(210, 238, 247, 0.6);
    }
}

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: bebas neue;
        letter-spacing: 2px;
        font-style: normal;
    }





@media (min-width: 576px) {

    h1{
        font-family: Bebas Neue;
        letter-spacing: 2px;
    }

    body{
        background-color: #262625;
        width: 100%;
        height: 100%;
        position: relative;
    }

    #container{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    header {
        display: flex;
        background-color: #832b30;
        width: 100%;
        height: 15vh;
        padding: 20px;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        box-shadow: 0 0 10px rgba(210, 238, 247, 0.6);
    }

    header h1{
        align-self: center;
        font-size: 9vmin;
        height: auto;
        width: auto;
        color: #cacaca;
        -webkit-text-stroke-width: 0.01rem;
        -webkit-text-stroke-color: #4d4d4d;
    }

    main{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }

    #logocabecalho {
        width: auto;   
        height: 125%;    
        object-fit: cover;
    }

    #fichas{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        width: 100%;
        height: auto;
        
    }

    .trocaficha{
        width: 10rem;
        height: 3rem;

        font-size: 1.5rem;
        font-family: Bebas Neue;
        letter-spacing: 1px;
        color:#cacaca;
        -webkit-text-stroke-width: 0.01rem;
        -webkit-text-stroke-color: #4d4d4d;
        transition: all 0.2s ease;

        background-color: #832b30;
        border-radius: 5px;
        border:#8b8b8b 0px solid;
        box-shadow: 0 0 4px rgba(210, 238, 247, 0.6);
        cursor: pointer;
    }

    .trocaficha:hover{
        transform: scale(1.1);

    }

    .trocaficha:active{
        transform: scale(1);
    }

    #addexercicio{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: auto;
        gap: 0;
    }

    #btnadd{
        height: 2.5rem;
        width: 15rem;

        font-size: 1.5rem;
        font-family: Bebas Neue;
        letter-spacing: 1px;
        color:#cacaca;
        -webkit-text-stroke-width: 0.01rem;
        -webkit-text-stroke-color: #4d4d4d;
        transition: all 0.15s ease;

        background-color: #832b30;
        border-radius: 5px;
        border:#8b8b8b 1px solid;
        box-shadow: 0 0 3px rgba(210, 238, 247, 0.6);
        cursor: pointer;
    }
    #btnadd:hover{
        transform: scale(1.1);

    }
    #btnadd:active{
        transform: scale(1);
    }

    #containernovoexercicio{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease;
    }

    #fundopreto{
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000ad;
    }

    #novoexercicio{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        min-width: 400px;
        height: 70%;
        min-height: 500px;
        flex-direction: column;
        gap: 10px;
        z-index: 2;
        background-color:#262625;
        align-items: center;
        color: #cacaca;
        font-family: bebas neue;
        text-align: center;
        border-radius: 10px;
    }

    #novoexercicio input{
        font-size: 3vmin;
    }

    input{
        height: 3vmin;
    }

    #novoexercicio label{
        display: flex;
        gap: 5px;
        font-size: 3vmin;
        width: 70%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .oculto{
        display: none !important;
    }

    #tituloNE{
        background-color: #832b30;
        width: 100%;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #nrep{
        width: 30%;
    }

    #kg{
        width: 15%;
    }

    #fecharNE{
        background-color: #832b30;
        color: #cacaca;
        width: 50%;
        height: 7%;
        border:#8b8b8b 0px solid;
        box-shadow: 0 0 3px rgba(210, 238, 247, 0.6);
        font-family: bebas neue;
        font-size: 3vmin;
        margin-top: auto;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    #fecharNE:hover{
        transform: scale(1.1);
    }

    #fecharNE:active{
        transform: scale(1);
    }

    #fotoInput{
        display: none;
    }

    label[for="fotoInput"]:hover{
        transform: scale(1.1);
    }

    label[for="fotoInput"]:active{
        transform: scale(1);
    }

    label[for="fotoInput"]{
        background-color: #832b30;
        transition: all 0.2s ease;
    }

    #previewimgdiv{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 45%;
        aspect-ratio: 1/1;
        object-fit: cover;
        position: relative;
    }

    #previewimg{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    #botaoapagarfoto{
        position: absolute;
        top: -4%;
        right: -5%;
        background-color:#832b30;
        width: 25%;
        aspect-ratio: 1/1;
        object-fit: cover;
        z-index: 10;
        border: 1px solid #cacaca;
    }

    #apagarfoto{
        width: 80%;
        aspect-ratio: 1/1;
        object-fit: cover;
        z-index: 10;
    }

    .listaexercicios{
        width: 100%;
        height: auto;

        display: flex;
        gap: 40px;

        flex-wrap: wrap;
        justify-content: center;
    }

    .exercicio{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        position: relative;
        aspect-ratio: 1/1;
        width: 15%;
        min-width: 200px;
        grid-template-rows: repeat(3, 1fr);
        background-color:#4d4d4d;
        border:#8b8b8b 2px solid;
        box-shadow: 0 0 5px rgba(210, 238, 247, 0.6);
    }

    .imgEx{
        grid-row: 1 / 3;
        grid-column: 1 / 2;

    }

    .nomeEx{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .RepEx{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .KgEx{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .checkboxEx{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .exercicio div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        border:#262625 1px solid;
        gap: 4px;
    }

    .exercicio div p{
        height:100%;
        font-size: 3.5vmin;
        color:#cacaca;
        word-break: break-word;
        line-height: 90%;
    }

    .exercicio h2{
        background-color:#832b30;
        width: 100%;
        text-align: center;
        color: #cacaca;
        word-break: break-word;
    }

    .imgexercicio{
        width: 90%;
        height: 90%;
        object-fit: cover;
    }

    .checkboxEx{
        width: 100%;
    }

    .checkboxBtn{
        width: 100%;
        height: 30%;
    }

    .editarexercicio{
        display: flex;
        position: absolute;
        left: 2px;
        top: 4px;
        gap: 2px;

        width: 35%;
        height: auto;
        
        flex-direction: row !important;
        border: none !important;
    }

    .editarexercicio button{
        width: 100%;
        height: auto;
        background-color: #832b30;
        border: 1px solid #cacaca;

        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
    }

    .editarexercicio button:hover{
        transform: scale(1.1);
    }

    .editarexercicio img{
        max-width: 80%;
        max-height: 80%;

        padding: 2px;
        object-fit: cover;
        border: none !important;
        z-index: 10;
    }

    .exercicio .editarexercicio{
        transform: scale(0);
        pointer-events: none;
        transition: 0.1s;
    }

    .exercicio:hover .editarexercicio{
        transform: scale(1);
        pointer-events: auto;
    }

    .fichaAtual{
    transform: scale(1.3);
    border:#8b8b8b 1px solid;
    box-shadow: 0 0 6px rgba(210, 238, 247, 0.6);
    }
}

#divTrocaFicha{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

#proxFicha{
    height: 2.5rem;
    width: 10rem;
    

    font-size: 1.5rem;
    font-family: Bebas Neue;
    letter-spacing: 1px;
    color:#cacaca;
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: #4d4d4d;
    transition: all 0.15s ease;

    background-color: #832b30;
    border-radius: 5px;
    border:#8b8b8b 1px solid;
    box-shadow: 0 0 3px rgba(210, 238, 247, 0.6);
    cursor: pointer;
}

    #proxFicha:hover{
        transform: scale(1.1);

    }
    #proxFicha:active{
        transform: scale(1);
    }


@media (orientation: landscape) and (max-width: 900px){

    #containernovoexercicio{
        height: 100vh;
        position: absolute;
    }

    #fundopreto{
        position: fixed;
        height: 100vh;
    }

    #novoexercicio{
        flex-direction: unset;
        flex-wrap: unset;
        align-items: unset;

        width: 80%;
        height: min-content;
        min-height: 0px !important;

        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: min-content min-content min-content min-content min-content;

        grid-template-areas:
            "titulo titulo"
            "nome foto"
            "rep  img"
            "carga img"
            "final final";

        gap: 10px;
        padding: 12px;
        box-sizing: border-box;

        position: absolute;
        top: 40px
    }

    #tituloNE{
        grid-area: titulo;
        text-align: center;
        height: fit-content;
    }

    label[for="inserirnome"]{ 
        grid-area: nome; 
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    label[for="nrep"]{
        grid-area: rep; 
    }

    label[for="kg"]{
        grid-area: carga; 
    }

    label[for="fotoInput"]{
        grid-area: foto;
        align-self: start;
        height: 60% !important;
        align-self: center;
    }

    #previewimgdiv{
        grid-area: img;
    }

    #fecharNE{
        grid-area: final;
    }




    #novoexercicio label{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 4px;
        width: 100%;
        height: 60%;
        align-self: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    #novoexercicio input{
        width:min-content;
        height: auto;
        padding: 4px;
        font-size: 16px;
        box-sizing: border-box;
    }


    #previewimgdiv{

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        height: 90%;   
        align-self: center;
        justify-self: center;
    }

    #previewimg{
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    #fecharNE{
        height: 45px;
        font-size: 30px;
        cursor: pointer;
        width: 100%;
    }
}